[Desktop Entry]
Encoding=UTF-8
Name=Link to .githooks
Type=Link
URL=https://github.com/oslab-csie-ncku/hw1-simple-pstree-adam1214/tree/master/.githooks
Icon=text-html
